div{
    text-align: center;
}


h1{
    font-size: 90px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button{
    width: 240px;
    height: 80px;
    background-color: blue;
    color: whitesmoke;
}

button:hover{
    background-color: green ;
}

p{
    font-size: 35px;
}

